body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
}

header {
    background-color: #4caf50;
    color: white;
    padding: 20px;
    position: relative; /* Necesario para posicionar el elemento hijo */
}



.cotizacion {
    position: absolute; /* Posiciona el elemento de manera absoluta */
    top: 20px; /* Ajusta la distancia desde la parte superior */
    right: 20px; /* Ajusta la distancia desde la derecha */
    color: white; /* Color del texto de la cotización */
    font-weight: bold; /* Hacer el texto más destacado */
}

main {
    margin: 20px auto; /* Centrar el contenido */
    max-width: 600px; /* Limitar el ancho máximo */
}
form { 
    margin: auto;
    max-width: 150px;
}



input {
    margin: 10px 0;
    padding: 10px; /* Aumentar el padding para mayor comodidad */
    width: 100%; /* Hacer que los inputs ocupen el 100% del ancho */
    box-sizing: border-box; /* Incluir padding y border en el ancho total */
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#error-mensaje {
    margin-top: 10px;
    color: red; /* Cambiar a rojo para mayor visibilidad */
    background-color: #ffe6e6; /* Fondo suave para el mensaje de error */
    border: 1px solid red; /* Borde rojo */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
}

#carrito-section {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #4caf50;
    border-radius: 5px;
}

#lista-articulos {
    list-style-type: none;
    padding: 0;
}

#lista-articulos li {
    padding: 10px;
    border-bottom: 1px solid #9b9696;
    background-color: #f9f9f9; /* Cambiar a un fondo más claro para mayor legibilidad */
    border-radius: 5px; /* Bordes red */
}